/codeM/ringtone.mp3
/codeM/ringtone.wav
/codeM/temp.py
/codeM/ryu_log*

*6633*
*6634*
*6635*
*.vscode
*.pcapng
*.awk
*.out
*.ods
*.pyc
.gitignore

/docs/interview_related_questions_en.md
/docs/interview_related_questions.md
/docs/other_notes.md
/docs/todo.md